.wrapper{
	margin: auto;
	width: 80%;
} 
.logo,.menu{
display: inline-block;
} 
.logo{
	margin-right: 40%;
	width: 190px;
	height: 35px;
	background: center no-repeat url(img/logo.svg);
} 
.header{
	display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 100px;
} 
.menu{
	display: flex;
	align-items: center;
} 
.menu__item{
	position: relative;
  margin-right: 26px; 
  font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item_active:after{
	position: absolute;
	display: block;
	content:'';
	left: 0;
	width: 0;
	height: 3px;
	background: #0056EC;
  transition: .5s, widht .5s;
}
.menu__item:last-child{
	margin-right: 0;
}
.menu__item:hover{
	opacity: .5;
}
.menu__item_active:after,.menu__item:hover:after{
	opacity: 1;
	width: 100%;
}
.main{
  background-position: top right;
	padding: 150px 63% 100px 0;
	background: url(img/mainimg.svg);
	background-repeat: no-repeat;
	background-position: center right;
  padding-left: 0;
}
.main__title{
	font-family: 'PT Serif';
	font-weight: 700px;
	font-size: 66px;
	font-style: normal;
  line-height: 87px;
  margin-bottom: 40px;
  margin: 0 0 40px 0;
}
.main__description{
	font-family: 'Roboto';
	font-weight: 400px;
	font-style: normal;
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 41px;
	margin: 0 0 48px 0;
}
.main__button{
	font-family: 'Roboto';
	font-weight: 500px;
	font-style: normal;
	font-size: 18px;
  line-height: 22px;
  padding: 14px 16px;
  text-decoration: none;
  background: blue;
  color: white;
  border-radius: 4px;
}
.main__button:hover{
	opacity: .5;
}
.main__title-text_highlight{
	background: #ECF3FF;
}
@media(max-width: 1920px) {
  .menu{
  	display: none;
}
  .header{
	  margin-bottom: 29px;
 }
  .main{
  	text-align: center;
	  padding: 74% 0 0;
	  background-size: 69%;
	  background-position: top center;
 }
  .main_title{
  	margin-bottom: 30%
  	font:700 bold 30%/39% pt_serif,arial,helvetica,sans-serif;
  }
  .main__description{
  	margin-bottom: 25%;
  	font:500 16%/19% Roboto,arial,helvetica,sans-serif;
  }
  .main__button{
  	font:500 14%/16% Roboto,arial,helvetica,sans-serif;
  }
}
#menu__toggle{
	opacity: 0;
}
.menu__btn{
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor:pointer;
	z-index: 1;
}
.menu__btn > span,
.menu__btm > span::befor,
.menu__btm > span::after{
	display: block;
	position: absolute;
  width: 100%;
  height: 2px;
  background-color:#616161;
}
.menu__btn > span::befor{
  content: '';
  top: -8px;
}
.menu__btn > span::after{
	content: '';
	top: 8px;
}
.menu__box{
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
  list-style: none;
  align-items: center;
  background-color:  #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item{
	display: block;
	padding: 12px 24px;
	color: #333;
	font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item::hover{
	background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
}
.menu__item_active:after{
	opacity: none;
}
