.wrapper{
	margin: auto;
	width: 80%;
} 
.logo,.menu{
display: inline-block;
} 
.logo{
	margin-right: 40%;
	width: 190px;
	height: 35px;
	background: center no-repeat url(img/logo.svg);
} 
.header{
	display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 100px;
} 
.menu{
	display: flex;
	align-items: center;
} 
.menu__item{
	position: relative;
  margin-right: 26px; 
  font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item_active:after{
	position: absolute;
	display: block;
	content:'';
	left: 0;
	width: 0;
	height: 3px;
	background: #0056EC;
  transition: .5s, widht .5s;
}
.menu__item:last-child{
	margin-right: 0;
}
.menu__item:hover{
	opacity: .5;
}
.menu__item_active:after,.menu__item:hover:after{
	opacity: 1;
	width: 100%;
}
.main{
  background-position: top right;
	padding: 0 63% 100px;
	background: url(img/mainimg.svg);
	background-repeat: no-repeat;
	background-position: center right;
  padding-left: 0;
}
.main__title{
	font-family: 'PT Serif';
	font-weight: 700;
	font-size: 50px;
	font-style: normal;
  line-height: 66px;
  margin-bottom: 40px;
  margin: 0 0 40px 0;
}
.main__description{
	font-family: 'Roboto';
	font-weight: 400px;
	font-style: normal;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 41px;
	margin: 0 0 41px 0;
}
.main__button{
	font-family: 'Roboto';
	font-weight: 500px;
	font-style: normal;
	font-size: 14px;
  line-height: 16px;
  padding: 14px 16px;
  text-decoration: none;
  background: blue;
  color: white;
  border-radius: 4px;
}
.main__button:hover{
	opacity: .5;
}
.main__title-text_highlight{
	background: #ECF3FF;
}
@media(min-width: 1170px) {
  .menu{
  	display: none;
}
.header{
	margin-bottom: 28px;
 }
.main{
	padding: 74% 0 0;
	background-size: 74%;
	background-position: top center;
 }
}