h1{
	font-family: 'Roboto';
} 
.wrapper{
	margin: auto;
	width: 80%;
} 
.logo,.menu{
display: inline-block;
} 
.logo{
	margin-right: 40%;
	width: 190px;
	height: 35px;
	background: center no-repeat url(img/logo.svg);
} 
.header{
	display: flex;
  justify-content: space-between;
  padding: 40px 0;
} 
.menu{
	display: flex;
	align-items: center;
} 
.menu__item{
  padding: 0 13px; 
  font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
  color: #000;
  text-decoration: none;
}
.menu__item_active::after{
	position: absolute;
	display: block;
	content:'';
	width: 68px;
	height: 10px;
	background: #0056EC;
}